/PracticasJSP/nbproject/private/
/PracticasJSP/build/
/PracticasJSP/JSP y Servlets/build/
/JSPyServlets/nbproject/private/
/PracticasJSP/JSPyServlets/nbproject/private/
/PracticasJSP/JSPyServlets/build/
/PracticasJSP/Sockets/SocketCliente/nbproject/private/
/PracticasJSP/Sockets/SocketServidor/nbproject/private/
/PracticasJSP/Sockets/SocketServidor/build/
/PracticasJSP/Sockets/SocketCliente/build/
